<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style_index.css">
    <title>XSSpress</title>
</head>
<body>
    <header>
        <h1>XSSpress</h1>
        <p>The only news outlet brave enough to cover 1337 memes and exploits</p>
      </header>
    <nav>
        <a href="/upload">Upload Meme</a>
        <a href="/preview">Preview Jokes</a>
        <a href="/write-to-editor">Submit to Editor</a>
      </nav>


      <main class="grid">
        <section class="card">
          <p>An SQL statement walks into a bar and sees two tables. It approaches and asks…<br>
            “May I join you?”</p>
        </section>
    
        <section class="card">
          <p>Why don’t young programmers write <i>in script</i> these days?
<br>
            They were only taught Java.</p>
        </section>
        <section class="card">
            <img src="../static/images/4f5429df5ea6361fa8d3f08dfcdccdf9.jpg" alt="Img">
           </section>
 
           
          

        <section class="card">
            <p>I told my therapist I had a trust issue...
                <br>
                They asked if I was talking about cookies or CSRF tokens.</p>
          </section>

          <section class="card">
            <h3>Hex of the month</h3>
            <p>44 69 64 20 79 6F 75 20 77 61 73 74 65 20 79 6F 75 72 20 74 69 6D 65 20 64 65 63 6F 64 69 6E 67 20 69 74 20 6A 75 73 74 20 67 6F 20 62 61 63 6B 20 74 6F 20 74 68 65 20 63 68 61 6C 6C 65 6E 67 65 20 61 6E 64 20 73 6F 6C 76 65 20 69 74 2E 2E 2E 20 3E 5F 3C</p>
          </section>

          <section class="card">
            <p>Why did the web app break up with its database?
<br>
                Too many unescaped strings—it just couldn’t handle the injection anymore.</p>
          </section>



          <section class="card">
            <img src="../static/images/2fea86038f9463c9d0e98fc6308cc9a6.jpg" alt="Img">
           </section>
          
         

          <section class="card">
            <p>If CSP is enabled, does that mean I can't express myself?</p>
          </section>

          <section class="card">
            <p>What’s a hacker’s favorite pickup line?
<br>
                “Is your CSP strict? Because I wanna be the only source in your life.”</p>
          </section>

         
           <section class="card">
            <p>My SSRF payload got friend-zoned.
<br>
                It just wanted to talk to localhost.</p>
          </section>

          <section class="card">
            <img src="../static/images/EL46SZbWoAAI3cY.png" alt="Img">
           </section>

          <section class="card">
            <p>"Sometimes you need to upgrade the encryption... so you can prove padding oracles still exist.”</p>
          </section>

          

         

      </main>


      <footer>
        &copy; 2025 XSSpress. All memes may or may not be weaponized.
      </footer>

</body>
</html>